{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script language="javascript" src="/static/js/jquery.min.js"></script>
    <title>{{ PROJECT_TITLE }}{% block extra_title %}{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>

<body>
<div id="wrapper">
    <div id="header">
        <div id="logo"><a href="/">{{ PROJECT_TITLE }}</a></div>
        <div id="menu">
            <ul>
                <a href="{% url room_select %}"><li>{% trans "Play" %}</li></a>
                <a href="{% url room_select %}"><li>{% trans "Play" %}</li></a>
                <a href="{% url room_select %}"><li>{% trans "Play" %}</li></a>
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div id="footer">
    </div>
</div>
</body>
</html>