{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}
{% comment %}
<script type="text/javascript">

    var start_x = 20;
    var start_y = 20;
    var chips = {};

    $(document).ready(
            function() {
                load_game_status();
                start_comet_channel();
            });

    function load_game_status() {
        $.post("{% url domino_load_game_status rook.pk %}", function(data) {
            if(data['status'] == 1) {
                $('#status').html('{% trans "started" %}');
            } else {
                $('#status').html('{% trans "not started" %}');
            }

            for (var chip in data['chips']) {
                draw_chip(data['chips'][chip]);
            }
        });
    }

    function draw_chip(chip) {
        var left = chip[0];
        var right = chip[1];
        var prev = chip[3];
        var angle = 0;
        var x = start_x;
        var y = start_y;
        if (left == right) {
            angle = 1;
        }

        if (chips.length > 0) {
            prev = chips[prev];
            if (prev[1] == right) {
                angle = 2;
            }
            if
        }
    }
</script>
{% endcomment %}
    <script src="/static/js/json2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/orbited/Orbited.js"></script>
    <script>
        // set the orbited settings and port
        Orbited.settings.port = {{ ORBITED.port }};
        Orbited.settings.hostname = "{{ ORBITED.host }}";
        //Orbited.settings.streaming = false;
        TCPSocket = Orbited.TCPSocket
    </script>
    <script> document.domain = document.domain; </script>
    <script src="/static/orbited/protocols/stomp/stomp.js"></script>

    <script type="text/javascript" charset="utf-8">

        var my_id = {{ request.user.pk }};
        //var my_turn = false;
        var my_turn = false;
        var table = {};
        var my_selected_chip = null;
        var table_selected_chip = null;

        var start_x = 350;
        var start_y = 200;

        var users = {};

        jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    function send_message(data, success) {
        $.ajax({
            url: '{% url game_step room.id %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: success,
            error: function (r) {
                console.log(r);
            }
        });
    }

    function HiddenChip(angle) {
        this.angle = angle;
        this.get_html = function() {
            var self = this;
            $obj = $('<div class="hidden_chip_'+this.angle+'">&nbsp;</div>');
            return $obj[0];
        }
        return this;
    }

    function Chip(id, left, right, angle) {
        //Temporary chip object
        //Похоже уже не временный? :)
        //Совсем не временный
        console.log('Chip init');
        this.id = id;
        this.left = left;
        this.right = right;

        this.angle = angle;
        this.direction = 0;
        this.next = null;
        this.prev = null;

        this.on_table = false;

        this.get_html = function () {
            var self = this;
            if (self.on_table) {
                if (self.direction == 0) {
                    if (self.angle == 0) {
                        $obj = $('<div class="chip_0">');
                        $obj.append($('<img src="/static/images/value_'+this.angle+'_'+this.left+'.png">'));
                        $obj.append($('<img src="/static/images/value_'+this.angle+'_'+this.right+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                    } else {
                        $obj = $('<div class="chip_0">');
                        $obj.append($('<img src="/static/images/value_'+(this.angle-2)+'_'+this.right+'.png">'));
                        $obj.append($('<img src="/static/images/value_'+(this.angle-2)+'_'+this.left+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                    }
                }
                if (self.direction == 1) {
                    console.log('direction == 1');
                    if (self.angle == 0) {
                        $obj = $('<div class="chip_1">');
                        $obj.append($('<img src="/static/images/value_1_'+this.left+'.png">'));
                        $obj.append($('<img src="/static/images/value_1_'+this.right+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                    } else {
                        $obj = $('<div class="chip_1">');
                        $obj.append($('<img src="/static/images/value_1_'+this.right+'.png">'));
                        $obj.append($('<img src="/static/images/value_1_'+this.left+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                        console.log($obj);
                    }
                }
                if (self.direction == 2) {
                    if ((self.angle == 0)) {
                        $obj = $('<div class="chip_0">');
                        $obj.append($('<img src="/static/images/value_0_'+this.right+'.png">'));
                        $obj.append($('<img src="/static/images/value_0_'+this.left+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                    } else {
                        $obj = $('<div class="chip_0">');
                        $obj.append($('<img src="/static/images/value_0_'+this.left+'.png">'));
                        $obj.append($('<img src="/static/images/value_0_'+this.right+'.png"></div>'));
                        $obj.attr('id', 'chip_'+self.id);
                    }
                }
            } else {
                $obj = $('<div class="chip_'+this.angle+' my_chip">');
                $obj.append($('<img src="/static/images/value_'+this.angle+'_'+this.left+'.png">'));
                $obj.append($('<img src="/static/images/value_'+this.angle+'_'+this.right+'.png"></div>'));
                $obj.attr('id', 'chip_'+self.id);
            }

            $obj.click(function () {
                console.log('chip click', self, self.on_table, self.id);
                if (!my_turn) {
                    // not my turn
                    return;
                }

                if (self.on_table == true) {
                    if (my_selected_chip) {
                        console.log(self.left, self.right, self.id);
                        var item = table[self.id];
                        console.log(item.prev);
                        if (item.next)  {
                            if (item.prev) return;
                            // from another side
                            var number = 0;
                            if (item.next.left == item.left) {
                                number = item.right;
                            } else {
                                number = item.left;
                            }
                            if ((my_selected_chip.left != number) && (my_selected_chip.right != number)) {
                                console.log('wrong chip');
                                return
                            }
                        } else {
                            var number = 0;
                            if (item.prev) {
                                if (item.prev.left == item.left) {
                                    number = item.right;
                                } else {
                                    number = item.left;
                                }
                                if ((my_selected_chip.left != number) && (my_selected_chip.right != number)) {
                                    console.log('wrong chip 2');
                                    return
                                }
                            } else {
                                    if ((item.left != my_selected_chip.left) && (item.left != my_selected_chip.right)
                                            && (self.right != my_selected_chip.left) && (self.right != my_selected_chip.right)) {
                                        console.log('wrong chip 2');
                                        return;
                                    }
                            }
                        }

                        table_selected_chip = self;
                        console.log('process');
                        process_turn();
                    }
                } else {
                    if (my_selected_chip) {
                        $('#chip_'+my_selected_chip.id).removeClass('my_selected');
                    }
                    $('#chip_'+self.id).addClass('my_selected');
                    my_selected_chip = self;
                }
            });

            return $obj[0]
        }

        this.create_on_table = function () {
            this.on_table = true;
            var html = this.get_html()
            $(html).appendTo($('#gamefield'));
        }

        return this;
    }

    var ROOM = {};
    ROOM.status = 'wait';
    ROOM.members = [];
    ROOM.log = [];
    ROOM.can_start = function () {
        if (ROOM.members.length > 1 && ROOM.turn_user_id){
            ROOM.status = 'can_start';
            $('#start_button').removeAttr('disabled');
        }
        if (ROOM.is_active){
            $('#start_button').hide();
        }
    };
    ROOM.can_turn = function () {
        if (ROOM.turn_user_id == my_id){
            my_turn = true;
            $('#status').text('You can turn');
        } else {
            my_turn = false;
            $('#status').text('Wait you turn');
        }
    }
    ROOM.start_game = function () {
        $.ajax({
            url: '{% url game_step room.id %}',
            type: 'POST',
            dataType: 'json',
            data: {
                'action': 'game_start'
            },
            success: function (data) {
            },
            error: function (r) {
                console.log(r);
            }
        });
    }
    ROOM.table_is_clear = function () {
        if (ROOM.log.length == 0)
            return true;
        else
            return false
    }
    ROOM.get_chip = function () {
        data = {
            action: 'get_chip',
        }
        success = function (data) {
            console.log(data);
            var chip = new Chip(data.id, data.left, data.right, 1);
            $('#my_chips').append(chip.get_html());
        }
        send_message(data, success);
    }
    ROOM.check_bank = function ()  {
        if (ROOM.chips_in_bank > 0 && my_turn && ROOM.is_active)
            $('#get_chip').removeAttr('disabled');
        else
            $('#get_chip').attr('disabled', true);
    }



    $(document).ready(function() {
        load_game_status();
        start_comet_channel();
    });

    function start_comet_channel() {
        stomp = new STOMPClient();
        stomp.onopen = function(){
            //console.log("opening stomp client");
        };
        stomp.onclose = function(c){
            alert('Lost Connection, Code: ' + c);
        };
        stomp.onerror = function(error){
            alert("Error: " + error);
        };
        stomp.onerrorframe = function(frame){
            alert("Error: " + frame.body);
        };
        stomp.onconnectedframe = function(){
            console.log("Connected. Subscribing");
            //alert("subscribing");
            stomp.subscribe("/{{ room.comet_id }}");
        };
        stomp.onmessageframe = function(frame){
            data = $.parseJSON(frame.body);
            console.group('Data from stomp');
            console.log(data);
            switch (data.action) {
                case ('ping'): {
                    break;
                }
                case ('game_start'): {
                    ROOM.status = 'game_start';
                    $('#start_button').hide();
                    ROOM.can_turn();
                    break;
                }
                case ('game_end'): {
                    break;
                }
                case ('delete_chip'): {
                    delete_chip(data.chip_id);
                    break;
                }
                case ('place_chip'): {
                    place_new_chip(data.left, data.right, data.id, data.prev_id);
                    ROOM.turn_user_id = data.turn_user_id;
                    ROOM.can_turn();
                    ROOM.check_bank();
                    $('.my_selected').removeClass('my_selected');
                    my_selected_chip = null;

                    break;
                }
                case ('chat_message'): {
                    new_chat_message(data);
                }
                case ('user_out'): {
                    break;
                }
                case ('join_member'): {
                    $.extend(ROOM, data);
                    ROOM.can_start();
                    break;
                }
                case ('new_user_chip'): {
                    break;
                }
                case ('new_turn'): {
                    break;
                }
            }
            console.groupEnd();
        };
        stomp.connect('{{ STOMP.host }}', {{ STOMP.port }});

    }

    function load_game_status() {
        $.ajax({
            url: '{% url load_game_status room.id %}',
            dataType: 'json',
            success: function (data) {
                if(data['status'] == 1) {
                    $('#status').html('{% trans "started" %}');
                } else {
                    $('#status').html('{% trans "not started" %}');
                }

                $.extend(ROOM, data);
                ROOM.can_start();
                ROOM.can_turn();
                ROOM.check_bank();

                n = 1;
                $(data.members).each(function (i, e) {
                    if (e.id == my_id) {
                        $("#username_me").html(e.username);
                    } else {
                        //$('#user'+i).text(e.username+' '+ );
                        users[e.id] = i;
                        $("#username_"+n).html(e.username);
                        angle = 1;
                        if (i == 2) {
                            angle = 0;
                        }
                        step = 10;
                        var container = $('#user'+n);
                        for (var k=0;k<e.chips_count;k++) {
                            var chip = new HiddenChip(angle);
                            container.append(chip.get_html());
                        }
                        n++;
                    }
                });

                var my_chips = $('#my_chips');
                for (var i in data['my_chips']) {
                    var chip = new Chip(data['my_chips'][i].id, data['my_chips'][i].left, data['my_chips'][i].right, 1);
                    my_chips.append(chip.get_html());
                }

                for (var i in data['log']) {
                    place_new_chip(data['log'][i].left, data['log'][i].right, data['log'][i].id, data['log'][i].prev_id);
                }
            }
        });
    }

    function process_turn(){
        // Process my turn
        if ((my_selected_chip) && (table_selected_chip)) {
            self.on_table = true;
            var data = {
                action: 'process_turn',
                chip_id: my_selected_chip.id,
                table_id: table_selected_chip.id
            }
            var success = function (data) {
                if (data.status == 'ok') {
                    $('#chip_'+my_selected_chip.id).remove();
                } else {
                    $('#chip_'+my_selected_chip.id).removeClass('my_selected');
                }

            }

        } else if (my_selected_chip && ROOM.table_is_clear()) {
            var data = {
                action: 'process_turn',
                chip_id: my_selected_chip.id,
            }
            var success = function (data) {
                console.log(data);
                if (data == 'ok') {
                    $('#chip_'+self.id).remove();
                } else {
                    $('#chip_'+self.id).removeClass('my_selected');
                }
            }
        }
        console.log(data, success);
        send_message(data, success);
        return
    }

    function game_start() {
        $("#status").html('{% trans "Started" %}');
    }

    function count_offset(x, y) {
        var offset = $('#gamefield').offset();
        var data = {
            top: y + offset.top,
            left: x + offset.left
        };
        return data;
    }

    function place_new_chip(left, right, id, prev_id) {
        if (!prev_id) {
            // first chip
            var chip = new Chip(id, left, right, 0);
            chip.on_table = true;
            $("#gamefield").append(chip.get_html());
            $("#chip_"+id).offset(count_offset(start_x, start_y));
            table[id] = {};
            table[id].left = left;
            table[id].right = right;
            table[id].angle = 0;
            table[id].next = null;
            table[id].prev = null;
            table[id].direction = 0;

        } else {
            var prev = table[prev_id];
            var field_offset = $("#gamefield").offset();
            var angle = 0;
            if (!prev.next) {
                var direction = prev.direction;
                var offset = $("#chip_"+prev_id).offset();
                if (prev.direction == 1) {
                    if (prev.prev.direction == 0) {
                        direction = 2;
                    } else {
                        direction = 0;
                    }
                }
                if (prev.direction == 0) {
                    game_offset = $('#gamefield').offset();
                    if (offset.left - game_offset.left < 100) {
                        direction = 1;
                    }
                }
                if (prev.direction == 2) {
                    game_offset = $('#gamefield').offset();
                    if (offset.left - game_offset.left > 550) {
                        direction = 1;
                    }
                }
                if (prev.angle == 0) {
                    if (prev.left == left) {
                        angle = 2;
                    }
                } else {
                    if (prev.right == left) {
                        angle = 2;
                    }
                }
                chip = new Chip(id, left, right, angle);
                chip.on_table = true;
                chip.direction = direction;
                $("#gamefield").append(chip.get_html());
                if (direction == 0) {
                    if (prev.direction == 1) {
                        $("#chip_"+id).offset({ top: offset.top - 35, left: offset.left});
                    } else {
                        $("#chip_"+id).offset({ top: offset.top, left: offset.left-70});
                    }
                }
                if (direction == 1) {
                    if (prev.direction == 0) {
                        $("#chip_"+id).offset({ top: offset.top-70, left: offset.left});
                    } else {
                        $("#chip_"+id).offset({ top: offset.top-70, left: offset.left+35});
                    }
                }
                if (direction == 2) {
                    if (prev.direction == 1) {
                        $("#chip_"+id).offset({ top: offset.top - 35, left: offset.left});
                    } else {
                        $("#chip_"+id).offset({ top: offset.top, left: offset.left+70});
                    }
                }
                table[id] = {};
                table[id].left = left;
                table[id].right = right;
                table[id].angle = angle;
                table[id].next = null;
                table[id].direction = direction;
                table[prev_id].next = table[id];
                table[id].prev = table[prev_id];
            } else {
                console.log('Rear');
                var angle = 0;
                var direction = prev.direction;
                if ((prev.direction == 0) && (prev.next)) {
                    if (prev.next.direction == 0) {
                        direction = 2;
                    }
                }

                var offset = $("#chip_"+prev_id).offset();

                if (prev.direction == 1) {
                    if (prev.next.direction == 0) {
                        direction = 2;
                    } else {
                        direction = 0;
                    }
                }
                if (prev.direction == 0) {
                    game_offset = $('#gamefield').offset();
                    if (offset.left - game_offset.left < 100) {
                        direction = 1;
                    }
                }
                if (prev.direction == 2) {
                    game_offset = $('#gamefield').offset();
                    if (offset.left - game_offset.left > 550) {
                        direction = 1;
                    }
                }
                if (prev.angle == 0) {
                    if (prev.right == right) {
                        angle = 2;
                    }
                } else {
                    if (prev.left == right) {
                        angle = 2;
                    }
                }
                chip = new Chip(id, left, right, angle);
                chip.on_table = true;
                chip.direction = direction;
                $("#gamefield").append(chip.get_html());
                if (direction == 0) {
                    if (prev.direction == 1) {
                        $("#chip_"+id).offset({ top: offset.top + 70, left: offset.left - 35});
                    } else {
                        $("#chip_"+id).offset({ top: offset.top, left: offset.left - 70});
                    }
                }
                if (direction == 1) {
                    if (prev.direction == 2) {
                        $("#chip_"+id).offset({ top: offset.top + 35, left: offset.left + 35});
                    } else {
                        $("#chip_"+id).offset({ top: offset.top + 35, left: offset.left});
                    }
                }
                if (direction == 2) {
                    if (prev.direction == 1) {
                        $("#chip_"+id).offset({ top: offset.top + 70, left: offset.left + 35});
                    } else {
                        console.log('direction 2');
                        $("#chip_"+id).offset({ top: offset.top, left: offset.left + 70});
                    }
                }
                table[id] = {};
                table[id].left = left;
                table[id].right = right;
                table[id].angle = angle;
                table[id].prev = null;
                table[id].direction = direction;
                table[prev_id].next = table[id];
                table[id].next = table[prev_id];
            }

        }
    }

    function delete_chip(id) {
        var chip = $("#chip_"+id);
        if (chip) {
            chip.remove();
        }
    }

    function new_user_chip(user_id) {
        var id = users[user_id]
        var angle = 1
        if (id == 2) angle=0
        var chip = new HiddenChip(angle);
        $('#user'+id).append(chip.get_html());
    }

    function send_chat_message() {
        var message = $("#chat_input_string").val();
        //var message = '123';
        var data = {
            message: message
        };
        $.ajax({
            url: '{% url chat_message room.pk %}',
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (data) {
                console.log(data);
                $("#chat_input_string").val('');
                }
            ,
            error: function (r) {
                console.log(r);
            }
        });
        return false;
    }

    function new_chat_message(data) {
        $obj = $('<p>'+data.username+': '+data.message+'</p>');
        $('#chat-content').append($obj);
        $('#chat').scrollTop($('#chat-content').height());
    }

    </script>
{% endblock %}

{% block content %}
    <h1>{% trans "Game" %}: {{ room.pk }} <span id="status"></span></h1>
    <button id="start_button" disabled onclick="ROOM.start_game()">Start</button>
    <div id="gamemain">
            <div id="user2"><div id="username_2"></div></div>
            <div id="user1"><div id="username_1"></div></div>
            <div id="gamefield"></div>
            <div id="user3"><div id="username_3"></div></div>
            <div id="bank"><button id="get_chip" disabled onclick="ROOM.get_chip()">Get chip</button></div>
            <div id="my_chips"><div id="username_me"></div></div>

            <div id="chat">
                <div id="chat-content"></div>
            </div>
            <div id="chat_input">
                <form method="POST" action="{% url chat_message room.pk %}" onSubmit="send_chat_message(); return false;">
                    <input type="text" id="chat_input_string">
                </form>
            </div>

    </div>
{% endblock %}
