{% extends "base.html" %}
{% load i18n %}

{% block extra_js %}
    <script src="/static/js/json2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/orbited/Orbited.js"></script>
    <script>
        // set the orbited settings and port
        Orbited.settings.port = {{ ORBITED.port }};
        Orbited.settings.hostname = "{{ ORBITED.host }}";
        //Orbited.settings.streaming = false;
        TCPSocket = Orbited.TCPSocket
    </script>
    <script> document.domain = document.domain; </script>
    <script src="/static/orbited/protocols/stomp/stomp.js"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {
            stomp = new STOMPClient();
            stomp.onopen = function(){
                //console.log("opening stomp client");
            };
            stomp.onclose = function(c){
                alert('Lost Connection, Code: ' + c);
            };
            stomp.onerror = function(error){
                alert("Error: " + error);
            };
            stomp.onerrorframe = function(frame){
                alert("Error: " + frame.body);
            };
            stomp.onconnectedframe = function(){
                console.log("Connected. Subscribing");
                //alert("subscribing");
                stomp.subscribe("/{{ room.comet_id }}");
            };
            stomp.onmessageframe = function(frame){
                // Presumably we should only receive message frames with the
                // destination "/topic/message" because that's the only destination
                // to which we've subscribed. To handle multiple destinations we
                // would have to check frame.headers.destination.
                console.log(frame.body);
            };
            stomp.connect('{{ STOMP.host }}', {{ STOMP.port }});

            $.ajax({
                url: '{% url load_game_status room.id %}',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                }
            });


        });

    </script>
{% endblock %}

{% block content %}
<h1>Room: {{ room }}</h1>
<p id="test">TEST</p>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    $(document).ready(
            function() {
                load_game_status();
                start_comet_channel();
            });

    function load_game_status() {
        $.post("{% url domino_load_game_status rook.pk %}", function(xml) {
            if(xml['status'] == 1) {
                $('#status').html('{% trans "started" %}');
            } else {
                $('#status').html('{% trans "not started" %}');
            }

            for each
        });
    }
</script>
{% endblock %}



{% block content %}
    <div class="span12">
        <div class="page-header">
            <h1>{% trans "Game" %}: {{ room.pk }} <span id="status"></span></h1>
        </div>
        <div class="row">
            <div id="user0"></div>
            <div id="user1"></div>
            <div id="user2"></div>
            <div id="user3"></div>

            <div id="bank"></div>

            <div id="gamefield"></div>
        </div>
    </div>
{% endblock %}
